body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.container {
    background: linear-gradient(to right, #6ebeff56, #cdbfff5e);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hello-text {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.btn {
    display: inline-block;
    background-color: #ffffff;
    color: #7766fd;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.btn:hover {
    background-color: #5cb1e2;
    color: #ffffff;
}
